# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dossier
.DS_Store
__pycache__/
_controller
_model
_view


# Fichiers .py
matches.py
rounds.py

# Fichiers .json
tournament_data.json
tournament_db.json


# Fichiers .txt
lien_GitHub.txt
requirements.txt